trigger:
- main
- 'SIG-2_Come-up-with-some-sort-of-stencil-page-for-setting-appointments'

pr:
- '*'

pool:
  vmImage: windows-latest

variables:
  buildConfiguration: 'Release'

steps:
- checkout: self  # self represents the repo where the initial Pipelines YAML file was found
  submodules: recursive

- script: npm install
  displayName: npm install
  workingDirectory: SignMeUp/Client/ClientSite
  
- task: UseDotNet@2 
  displayName: ".NET Core 3.1.x"
  inputs:
    version: '3.1.x'
    packageType: sdk

- task: NuGetCommand@2
  displayName: NuGet Restore SignMeUp.sln
  inputs:
    command: 'restore'
    restoreSolution: 'SignMeUp\SignMeUp.sln'
    feedsToUse: 'select'

- task: VSBuild@1
  displayName: Build SignMeUp.sln
  inputs:
    solution: 'SignMeUp\SignMeUp.sln'
    platform: 'Any CPU'
    configuration: '$(BuildConfiguration)'
    maximumCpuCount: true

- task: DotNetCoreCLI@2
  displayName: Publish (DotNet)
  inputs:
    command: publish
    projects: 'SignMeUp\Client\ClientSite.csproj'
    publishWebProjects: True
    arguments: '--configuration $(BuildConfiguration) --output SignMeUp\Client\Publish'
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: Publish (Artifact)
  inputs:
    pathtoPublish: 'SignMeUp\Client\Publish' 
    artifactName: 'SignMeUp'
